/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h1 {
    margin: 0;
    font-size: 24px;
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

/* Estilos para a área de mensagens */
.chat-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.message-history {
    height: 400px; /* Aumentei a altura máxima */
    overflow-y: auto;
    border: 1px solid #ccc; /* Adicionei uma borda */
    border-radius: 5px; /* Borda com cantos arredondados */
    padding: 10px; /* Espaçamento interno */
    background-color: #fff; /* Fundo branco */
    margin-bottom: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.message-input {
    display: flex;
    margin-top: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
}

/* Estilos para o modo treinamento */
.train-mode {
    background-color: #e6e6e6;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.train-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}
/* Estilos para as mensagens do usuário */
.user-message .message-icon {
    display: none;
}

/* Estilos para as mensagens do chatbot */
.chatbot-message .message-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block; 
}
